<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon App{% endblock %}</title>

    {# CSS globaux #}
    <link rel="stylesheet" href="{{ asset('css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dashboard_admin.css') }}">
    <link rel="stylesheet" href="{{ asset('css/forms_admin.css') }}">

    {# CSS de Select2 #}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    {# Tu peux injecter des styles supplémentaires par page si besoin #}
    {% block stylesheets %}{% endblock %}
</head>
<body>

    {# Contenu des pages enfants #}
    {% block body %}{% endblock %}

    {# JS globaux ici si besoin (ex : Alpine.js, etc.) #}

    {# jQuery nécessaire pour Select2 (ou si tu as déjà jQuery dans le projet, garde ton import) #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {# JS de Select2 #}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    {# Tu peux injecter des scripts supplémentaires par page si besoin #}
    {% block javascripts %}{% endblock %}
</body>
</html>
